/*========================================================*/
/*             CSS for DotNetNuke Containers              */
/*                  by Evan O'Neil                        */
/*              http://www.NukeVille.com                  */
/*========================================================*/

/*========================================================*/
/*     Container Design Elements                          */
/*========================================================*/


/*-- conatiner title token             --*/ .EON_MI_GRS07Title { font-size: 11px; font-family: tahoma; color: #696969; font-weight: bold; }
/*-- container title cell              --*/ .EON_MI_GRS07TitleTD { width:100%; padding: 0;}
/*-- container actions cell            --*/ .EON_MI_GRS07ActionsTD { width:0%; padding: 0;}
/*-- container content pane            --*/ .EON_MI_GRS07Content { font-size: 11px; font-family: tahoma; color: #444; padding: 5px 0 0 0;}
/*-- container Icons cell              --*/ .EON_MI_GRS07Icons { text-align:right; padding: 5px 0 7px 0; border-top: 1px solid #BBBBBB;}

/*-- top center section                --*/ .EON_MI_GRS07T { background: url(07t_Minimalist.gif) top left repeat-x; vertical-align:middle; height: 23px; padding: 2px 0 0 0; }
/*-- top left section                  --*/ .EON_MI_GRS07TL { background: url(07tl_Minimalist.gif) top left no-repeat; vertical-align:top; height: 23px; width:10px; padding: 0; }
/*-- top right section                 --*/ .EON_MI_GRS07TR { background: url(07tr_Minimalist.gif) top right no-repeat; height: 23px; width:22px; vertical-align:middle; text-align:left; padding: 0 0 0 0; }

/*-- mid center section                --*/ .EON_MI_GRS07M { background: url(07m_Minimalist.gif); vertical-align:top; padding: 0; }
/*-- mid left section                  --*/ .EON_MI_GRS07ML { background: url(07ml_Minimalist.gif) bottom left repeat-y; vertical-align:top; width:10px; padding: 0; }
/*-- mid right section                 --*/ .EON_MI_GRS07MR { background: url(07mr_Minimalist.gif) bottom right repeat-y; vertical-align:top; width:10px; padding: 0; }

/*-- bottom center section             --*/ .EON_MI_GRS07B { background: url(07b_Minimalist.gif) bottom left repeat-x; vertical-align:top; height: 17px; padding: 8px 0 0 0; }
/*-- bottom left section               --*/ .EON_MI_GRS07BL { background: url(07bl_Minimalist.gif) bottom left no-repeat; vertical-align:top; height: 17px; width:10px; padding: 0; }
/*-- bottom right section              --*/ .EON_MI_GRS07BR { background: url(07br_Minimalist.gif) bottom right no-repeat; vertical-align:top; height: 17px; width:10px; padding: 0; }

/*========================================================*/





