/*========================================================*/
/*             CSS for DotNetNuke Containers              */
/*                  by Evan O'Neil                        */
/*              http://www.NukeVille.com                  */
/*========================================================*/

/*========================================================*/
/*     Container Design Elements                          */
/*========================================================*/


/*-- conatiner title token             --*/ .EON_MI_GRS04Title { font-size: 11px; font-family: tahoma; color: #FFF; font-weight: bold; }
/*-- container title cell              --*/ .EON_MI_GRS04TitleTD { width:100%; padding: 0;}
/*-- container actions cell            --*/ .EON_MI_GRS04ActionsTD { width:0%; padding: 0;}
/*-- container content pane            --*/ .EON_MI_GRS04Content { font-size: 11px; font-family: tahoma; color: #444; padding: 5px 0 0 0;}
/*-- container Icons cell              --*/ .EON_MI_GRS04Icons { text-align:right; padding: 5px 0 7px 0; border-top: 1px solid #BBBBBB;}

/*-- top center section                --*/ .EON_MI_GRS04T { background: url(04t_Minimalist.gif) top left repeat-x; vertical-align:middle; height: 23px; padding: 0 0 1px 0; }
/*-- top left section                  --*/ .EON_MI_GRS04TL { background: url(04tl_Minimalist.gif) top left no-repeat; vertical-align:top; height: 23px; width:10px; padding: 0; }
/*-- top right section                 --*/ .EON_MI_GRS04TR { background: url(04tr_Minimalist.gif) top right no-repeat; height: 23px; width:22px; vertical-align:middle; text-align:left; padding: 0 0 2px 0; }

/*-- mid center section                --*/ .EON_MI_GRS04M { background: url(04m_Minimalist.gif); vertical-align:top; padding: 0; }
/*-- mid left section                  --*/ .EON_MI_GRS04ML { background: url(04ml_Minimalist.gif) bottom left repeat-y; vertical-align:top; width:10px; padding: 0; }
/*-- mid right section                 --*/ .EON_MI_GRS04MR { background: url(04mr_Minimalist.gif) bottom right repeat-y; vertical-align:top; width:10px; padding: 0; }

/*-- bottom center section             --*/ .EON_MI_GRS04B { background: url(04b_Minimalist.gif) bottom left repeat-x; vertical-align:top; height: 17px; padding: 8px 0 0 0; }
/*-- bottom left section               --*/ .EON_MI_GRS04BL { background: url(04bl_Minimalist.gif) bottom left no-repeat; vertical-align:top; height: 17px; width:10px; padding: 0; }
/*-- bottom right section              --*/ .EON_MI_GRS04BR { background: url(04br_Minimalist.gif) bottom right no-repeat; vertical-align:top; height: 17px; width:10px; padding: 0; }

/*========================================================*/





