/*========================================================*/
/*             CSS for DotNetNuke Containers              */
/*                  by Evan O'Neil                        */
/*              http://www.NukeVille.com                  */
/*========================================================*/

/*========================================================*/
/*     Container Design Elements                          */
/*========================================================*/


/*-- container actions cell            --*/ .BCC_MINIPS_IPOActionsTD { height:1px; padding: 0; width: 1px; vertical-align:top;}
/*-- container content pane            --*/ .BCC_MINIPS_IPOContent { height:1px; width: 100%; font-size: 11px; font-family: tahoma; color: #444; text-align:left; padding: 0 0 0 0;}

/*========================================================*/





