/*========================================================*/
/*             CSS for DotNetNuke Containers              */
/*                  by Evan O'Neil                        */
/*              http://www.NukeVille.com                  */
/*========================================================*/

/*========================================================*/
/*     Container Design Elements                          */
/*========================================================*/


/*-- container actions cell            --*/ .BCC_MINIPS_NoTitle01ActionsTD { width:0%; padding: 0; width: 1px; vertical-align:top;}
/*-- container content pane            --*/ .BCC_MINIPS_NoTitle01Content { font-size: 11px; font-family: tahoma; color: #444; padding: 2px 4px 15px 4px;}
/*-- container Icons cell              --*/ .BCC_MINIPS_NoTitle01Icons { text-align:right; padding: 5px 0 7px 0; border-top: 1px solid #BBBBBB;}

/*========================================================*/





