/*========================================================*/
/*         CSS for DotNetNuke Skin - Minimalist           */
/*                   by Evan O'Neil                       */
/*             http://www.NukeVille.com                   */
/*========================================================*/

/*========================================================*/
/*  2 Design Elements                                     */
/*========================================================*/

.MenuHeight { height:32px; }
.MenuTD {  background: url(nav2-bg.gif) repeat-x top left; padding: 0 10px 0 0; }
.MenuLeft { width:18px; background: url(nav2-bg-l.gif) no-repeat top left; }
.MenuRight { width:12px; background: url(nav2-bg-r.gif) no-repeat top left; }
.LoginTD { width: 100%; vertical-align: middle; text-align: right; font-size: 7px; padding: 8px 0 8px 0; }
.CopyrightRow { height:30px; padding: 0 10px 0 10px; vertical-align: middle; }

.PanelWidth { width: 212px; vertical-align: top; padding: 0 0 0 0; }
.PanelTD { padding:0 7px 0 7px; }
.PanelBG { background: url(panel-bg2.gif) repeat top left; }
.PanelGrad { height:100%; background: url(panel-grad2.gif) repeat-x top left transparent; display:block; }
.PanelTL { height:100%; background: url(panel-bg-tl2.gif) no-repeat top left; display:block; }
.PanelTR { height:100%; background: url(panel-bg-tr2.gif) no-repeat top right; display:block; padding: 4px 5px 4px 5px; }
.PanelBL { height:100%; background: url(panel-bg-bl2.gif) no-repeat bottom left; display:block; }
.PanelBR { height:100%; background: url(panel-bg-br2.gif) no-repeat bottom right; display:block; }
.PanelMid { height:100%; }

/*========================================================*/
/*     Main Menu and Module Menus                         */
/*========================================================*/

/*-- box that holds the menu    --*/ .MainMenu_MenuContainer { background: transparent; width: 202px; height:1px; padding: 0 0 0 0; _margin: -2 0 0 0; margin: 0 0 0 0; }
/*-- bar that holds the menu    --*/ .MainMenu_MenuBar { cursor: pointer; cursor: hand; background: transparent; width: 202px; height:1px; padding: 0 0 0 0; margin: 0 0 0 0; }
/*-- submenu container          --*/ .MainMenu_SubMenu, .ModuleTitle_SubMenu { margin: 0 0 0 2px; }
/*-- menuitems idle             --*/ .MainMenu_Idle TD { color: #EEE; background: url(nav4-idle.gif) no-repeat top left transparent; font-size: 8pt; padding: 0 0 0 0; font-weight: bold; width: 202px; height: 25px; }
/*-- menuitems over             --*/ .MainMenu_Selected TD { color: #FFF; background: url(nav4-over.gif) no-repeat top left transparent; font-size: 8pt; padding: 0 0 0 0; font-weight: bold; width: 202px; height: 25px; }
/*-- menuitems active           --*/ .MainMenu_Active TD, .MainMenu_BreadcrumbActive TD { color: #171717; background: url(nav4-active.gif) no-repeat top left transparent; font-size: 8pt; padding: 0 0 0 0; font-weight: bold; width: 202px; height: 25px; }
/*-- not needed - main menu     --*/ .MainMenu_MenuArrow, .MainMenu_RootMenuArrow, .MainMenu_MenuIcon  { display: none; }
/*-- module menu continer       --*/ .ModuleTitle_MenuContainer { color: #2c2c2c; }
/*-- module menu bar            --*/ .ModuleTitle_MenuBar { cursor: pointer; cursor: hand;}
/*-- module menu padding        --*/ .ModuleTitle_MenuItem, .ModuleTitle_MenuItemSel { padding: 0 15px 0 10px; }
/*-- not needed - module menu   --*/ .MainMenuSeperator, .ModuleTitle_MenuArrow, .ModuleTitle_RootMenuArrow { display: none; }
									 .ModuleTitle_MenuIcon { background: #FFF; border: 0px; border-bottom: 1px dotted #999; width:0px; height: 20px; padding: 0 0 0 0; margin: 0 0 0 0; font-size: 0px; }
									 .ModuleTitle_MenuIcon IMG { margin: 0 10px 0 10px; }
/*-- removing seperator borders --*/ .MainMenu_MenuBreak { border-top-style: none; border-right-style: none;	border-left-style: none; border-bottom-style: none; background:transparent;  vertical-align:top;}

/*==========================================================*/
/*  End Style Sheet                                         */
/*==========================================================*/